<style>
    .login-wrapper{
        padding:100px;
    }
</style>
{% extends "app/base.html" %}
{%load crispy_forms_tags %}
{% block content %}
<div class="login-wrapper">
    <div class="content-section">
        <form id="login_form" method="post" action="{%url 'login' %}">
            {% csrf_token %}
                    Username:
                    <input type="text" name="username" value="" id="username" size="50" />
                <br />
                    Password:
                    <input type="password" name="password" value="" id="password" size="50" />
                    <br />
            {% if error %}
            {{error}}
            {% endif %}
            <br>
            <input type="submit" name="submit" value="submit" />
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Need an Account<a class="ml-2" href="{%url 'psup' %}">Sign up as patient</a>  <a class="ml-2" href="{%url 'hsup' %}">Sign up as hospital</a></small>
            </div>
    </div>
</div>
{% endblock %}