<style>
  .hospital-list {
    margin-top: 100px;
    border: 1px solid black;
    width: 100%;
  }
  .hospital-row {
    display: flex;
    border: 1px solid red;
  }
  .hospital-container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    width: 200px;
    
  }

</style>
{% extends "app/base.html" %}
{% block content %}
{% if user.is_authenticated %}
{{ form.errors }}
<div class="hospital-list">
{% for hospitali in hospitals %}
{% with counter=forloop.counter|add:"-1" %}
{% if counter|divisibleby:3 %}
<div class="hospital-row">
  {% endif %}
  {% endwith %}
<div class="hospital-container">
  <div class="hospital">
    <form method='post'>
        {% csrf_token %}
    <h5>{{hospitali.name}}</h5>
    <p>{{hospitali.address}}</p>
    <p>Available Vaccine: {{hospitali.available_Vaccine}}</p>
    <p>Queue: {{hospitali.que}}</p>
    <button name="hospital" type="submit" class="btn btn-success" value="{{hospitali.id}}">Book</button>
      </form>
  </div>
</div>
  {% if forloop.counter|divisibleby:3 %}
</div>
  {% endif %}
{% endfor %}
</div>
{% endif %}
</div>
{% endblock %}