{% extends "app/base.html" %}
{% block content %}
{% if user.is_authenticated %}
{{ form.errors }}
<form method='post'>
        {% csrf_token %}

{% for hospitali in hospitals %}

<div>
  <div>
    <h5>{{hospitali.name}}</h5>
    <p>{{hospitali.address}}</p>
    <p>Available Vaccine: {{hospitali.available_Vaccine}}</p>
    <p>Queue: {{hospitali.que}}</p>
    <button name="hospital" type="submit" class="btn btn-success" value="{{hospitali.id}}">Book</button>
  </div>
</div>
{% endfor %}
</form>

{% endif %}
{% endblock %}