<style>
    .symptomPage {
        margin-top: 150px;
    }
    
    .symptoms {
        margin-top: 80px;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        font-size: 20px;
    }
    
</style>
{% extends "app/base.html" %}
{% block content %}
<div class="symptomPage">
    <h2>Enter the Symptoms</h2>
    <div class="symptoms">
        <form method='POST'>
            {%csrf_token%}
            {{form.as_p}}
            <input type='submit' value='Save'/>
        </form>
    </div>
</div>
{% endblock %}