<style>
    .final-receipt {
        margin-top: 150px;
        background-color: white;
        border-radius:20px;
        border: 1px solid black;
        padding: 20px;
    }
    table {
        padding: 0 20px;
    }
    .final-receipt ul li{
        list-style-type: none;
        margin-left: 125px;
    }
</style>
{% extends "app/base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="final-receipt">
<h1>Allotment Status</h1>
<hr>
{% for patient in filled_form %}
<center><table>
    {% for booking in booked_hospital %}
    {% for hospital in hospitals %}
    {% if hospital.id == booking.hospital %}
    
    <tr><th>Patient Details:</th></tr>
    <tr><td>Patient Name: {{user.first_name}} {{user.last_name}}</td></tr>
    <tr><td>Age: {{patient.age}} yrs</td></tr>
    <tr><td>Comorbidities:  
            <ul>
            {% if patient.pneumonia %}<li>pneumonia</li>{% endif %}
            {% if patient.breathing %}<li>breathing problem</li>{% endif %}
            {% if patient.pregnant %}<li>pregnant</li>{% endif %}
            {% if patient.smoker %}<li>smoker</li>{% endif %}
            {% if patient.diabetic %}<li>diabetic</li>{% endif %}
            {% if patient.ckd %}<li>ckd</li>{% endif %}  
            {% if patient.copd %}<li>copd</li>{% endif %} 
            {% if patient.immunocompromised %}<li>immunocompromised</li>{% endif %}
            {% if patient.heart %}<li>heart disease</li>{% endif %}
            {% if patient.asthma %}<li>asthma</li>{% endif %}
            {% if patient.blood %}<li>blood disease</li>{% endif %}
            {% if patient.obesity %}<li>obesity</li>{% endif %}
            </ul>
        </td></tr>
    <tr><td><hr></td></tr>
    <tr><td><hr></td></tr>
    <tr><th>Hospital Details:</th></tr>
    <tr><td>Hospital: {{hospital.name}} </tr></tr>
    <tr><td>Address: {{hospital.address}} </tr></tr>
    <tr><td>Phone: {{hospital.phone}} </tr></tr>
        <tr><td><hr></td></tr>
        {% if booking.fulfilled %}
        <tr><td style="background-color:black;color:green;">Status: Confirmed </td></tr>
        
        <tr><td><hr></td></tr>
        {% if booking.confirmtime == "NA" %}
        <form method='post'>
            {% csrf_token %}
            <tr><td>Choose a slot: <input type="date" id="date" name="date" min="{{Mindate}}" max="{{Maxdate}}">
            
                <select name="time" id="time">
                    <option value="10am-12am">10am-12am</option>
                    <option value="1pm-3pm">1pm-3pm</option>
                    <option value="4pm-6pm">4pm-6pm</option>
                </select>
            </td></tr>
            <tr><td><input type="submit" value="Book Slot"></td></tr>
        </form>
        {% else %}
        <tr><td style="background-color:black;color:green;">Confirmation Time: {{booking.confirmtime}} IST </td></tr>
        {% endif %}
        {% else %}
        <tr><td style="background-color:black;color:yellow;">Status: Pending <td></tr>
        <tr><td style="background-color:black;color:yellow;">There are {{queue}} patients in the queue</td></tr>
        <tr><td style="background-color:black;color:yellow;">There are {{index|add:"-1"}} patients ahead of you</td></tr>
        {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</table></center>
</div>
{% endfor %}
{% endif %}
{% endblock %}