<style>
  .patient-list {
    margin-top: 150px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
  }
</style>
{% extends "app/base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="patient-list">
<h1>Allotment Status</h1>
<hr>
<table>
    {%for request in requests%}
    <!--<tr><td>User ID: {{request.user}}</td>-->
     {%for user1 in name%}
      {%if request.user == user1.id %}
    <tr><td>Name: {{user1.first_name}} {{user1.last_name}}<td></tr>
    {%endif%}
    {%endfor%}
    {%for users in UserDetails%}
      {%if users.user == request.user %}
    <tr><td>Age: {{users.age}}<td></tr>
    <tr><td>Gender: {{users.gender}}<td></tr>
    <tr><td>
      Comorbidities: 
      {% if users.pneumonia %}pneumonia{% endif %}
      {% if users.breathing %}breathing problem{% endif %}
      {% if users.pregnant %}pregnant{% endif %}
      {% if users.smoker %}smoker{% endif %}
      {% if users.diabetic %}diabetic{% endif %}
      {% if users.ckd %}ckd{% endif %}
      {% if users.copd %}copd{% endif %}
      {% if users.immunocompromised %}immunocompromised{% endif %}
      {% if users.heart %}heart disease{% endif %}
      {% if users.asthma %}asthma{% endif %}
      {% if users.blood %}blood disease{% endif %}
      {% if users.obesity %}obesity{% endif %}
      <td></tr>
    {%endif%}
    {%endfor%}
    <td>Booking Date: {{request.time}}</td></tr>
    {%endfor%}
</table>
<br>
</div>
{%endif%}
{% endblock %}