<style>
  .hospital-row > :nth-child(3n+3) {
    margin-right: 0;
  }
  .hospital-list {
    margin-top: 150px;
    border-radius: 30px;
    width: 100%;
    padding: 20px;
    background-color: white;
  }
  .hospital-row {
    display: flex;
    margin-bottom: 20px;
  }
  .hospital-container {
    text-align: center;
    padding: 20px;
    background-color: lightgreen;
    border-radius: 15px;
    width: 350px;
    height: 350px;
    margin-right: 20px;
    font-size: 20px;
  }

</style>
{% extends "app/base.html" %}
{% block content %}
{% if user.is_authenticated %}
{{ form.errors }}
<div class="hospital-list">
  <div class="hospital-container">
    <h2>Vaccine Updation</h2>
      <form method='post'>
          {% csrf_token %}
      <h4>{{hospital.name}}</h4>
      <br>
      <p>Address:{{hospital.address}}</p>
      <p>Available Vaccine: {{hospital.available_Vaccine}}</p>
      <p>Queue: {{hospital.que}}</p>
          <input type="number" name="vaccine" value="0">
      <button name="hospital" type="submit" class="btn btn-dark" style="border-radius: 15px;" value="Update">Book</button>
        </form>
  </div>
{% endif %}
</div>
{% endblock %}